.shimmer-card{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
}

.shimmer-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.shimmer-header{
    width: 96%;
    height: 50px;
    background-color: lightgray;
    margin: 0px 20px;
    margin-top: 30px;
    border-radius: 20px;
}