.total_restro-h2{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__card-div{
    padding-left: 30px;
    margin-bottom: 50px;
}

.main__card-div > div{
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
}

.search-tab{
    border: 1px solid gray;
    width: 35%;
    border-radius: 7px;
    padding-left: 10px;
}

.input-search-icon{
    color: gray;
    position: absolute;
    bottom: 499px;
    right: 60px;
}